# Iris data set - PandS Project 2019
> Description: This Jupyter Notebook is the project journal, as described in Readme.md file on Git Hub repository.

> Context: Programming and Scripting, GMIT, 2019;
> Lecturer: dr Ian McLoughlin

> Author: Andrzej Kocielski  
> Email: G00376291@gmit.ie  
> Date of creation: 03-04-2019  
> Last update: 14-04-2019

In [1]:
#Importing modules
import numpy as np
import pandas as pd

#Reading data set from csv file and assigning a name to it; note attribite header=None which includes also the first row of data
ids = pd.read_csv("iris_dataset.csv", header=None) # ids is short for iris data set

In [2]:
# this prints out the content, nicely formatted; commented out for clarity (too long)
# ids

In [3]:
ids.shape # shows number of rows and columns

(150, 5)

In [6]:
ids.head() # shows first 5 (by default) rows of data set

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [8]:
ids.tail(3) #shows last n (5 by default) rows of data sat

       0    1    2    3               4
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [4]:
ids.describe() # shows basic statistical information of the data set

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [5]:
# ids.values # shows data set as an array (first row omitted)