In [12]:
# Description: This Jupyter Notebook is a playground for testing.
# Context: Programming and Scripting, GMIT, 2019
# Author: Andrzej Kocielski
# Email: G00376291@gmit.ie
# Date of creation: 03-04-2019
# Last update: 03-04-2019

###

#Importing modules
import pandas as pd

#Reading data set from csv file and assigning a name to it
ids = pd.read_csv("iris_dataset.csv")

In [13]:
# print(ids) # Note it omitts the firs row (considered as headers)

In [14]:
# ids #this prints out the content, nicely formatted, but again first line considered as headers

In [15]:
# ids.shape # shows number of rows (less the first one) and columns

In [16]:
# ids.describe() # shows basic statistical information of the data set (again, the first row was taken out)

In [17]:
# ids.values # shows data set as an array (first row omitted)

In [18]:
# Including also the first row (removing headers)
ids_no_headers = pd.read_csv("iris_dataset.csv", header=None) # attribute header=None assumes that all rows are actual data, no headers

In [19]:
ids_no_headers.describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000