In [2]:
# Description: This Jupyter Notebook is a playground for testing.
# Context: Programming and Scripting, GMIT, 2019
# Author: Andrzej Kocielski
# Email: G00376291@gmit.ie
# Date of creation: 03-04-2019
# Last update: 16-04-2019

###

#Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl

#Reading data set from csv file and assigning a name to it
ids = pd.read_csv("iris_dataset.csv")

In [13]:
# print(ids) # Note it omitts the firs row (considered as headers)

In [14]:
# ids #this prints out the content, nicely formatted, but again first line considered as headers

In [15]:
# ids.shape # shows number of rows (less the first one) and columns

In [16]:
# ids.describe() # shows basic statistical information of the data set (again, the first row was taken out)

In [17]:
# ids.values # shows data set as an array (first row omitted)

In [18]:
# Including also the first row (removing headers)
ids_no_headers = pd.read_csv("iris_dataset.csv", header=None) # attribute header=None assumes that all rows are actual data, no headers

In [19]:
ids_no_headers.describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

### Separation of data attributes (columns, aka features)

#### Change of the data structure - from dataframe to array

Variable `ids` is a dataframe type of data. It cannot be sliced. One way of dealing with the problem is to change the type to array.

In [3]:
# Separation of data attributes (columns, aka features); source - lecture video week 9

# Note: ids is a DataFrame type of data structure, which cannot be sliced! Source: https://stackoverflow.com/a/37043071
type(ids)

# converting DataFrame into an array (as per Numpy)
idsv = ids.values
type(idsv)

# Slicing - first column extraction
firstcol = idsv[:, 0]
# firstcol

#### Slicing the data set into smaller chunks of data

Analysis of a subset - sepal length of Iris Setosa, named as `sepal_l_setosa`

In [24]:
# Slicing - first attributer of first 50 instances - sepal length of Iris Setosa
sepal_l_setosa = idsv[0:49,0]
sels_min = np.min(sepal_l_setosa) # minimum value of the subset, see next cell for results
sels_mean = np.mean(sepal_l_setosa) # mean value of the subset
sels_max = np.max(sepal_l_setosa) # maximum value of the subset

In [25]:
# Results of sepal length of Iris Setosa
sels_min, sels_mean, sels_max

(4.3, 5.006122448979592, 5.8)

In [26]:
sepal_l_setosa

array([5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0,
       5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4,
       5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3], dtype=object)

In [4]:
# info about sepal length of Iris Setosa - evidently `numpy.ndarray` type has no `.describe()` method. I must consider another data type.
sepal_l_setosa.describe()

NameError: name 'sepal_l_setosa' is not defined

In [6]:
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 
			'portal', 'for', 'Geeks']

# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks